
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #2c2614; 
}


::-webkit-scrollbar-thumb {
  background-color: #F3AA05; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2c2614; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #F3AA05 #2c2614; 
}
